version: 2
jobs:
  build:
    docker:
      - image: node:14.19.0
    steps:
      - checkout
      - run:
          name: deps
          command: npm install

      - run:
          name: build
          command: npm run build

      - persist_to_workspace:
          root: .
          paths:
            - .

  build_staging:
    docker:
      - image: node:14.19.0
    steps:
      - checkout
      - run:
          name: deps
          command: npm install

      - run:
          name: build
          command: npm run build

      - persist_to_workspace:
          root: .
          paths:
            - .

  deploy_prod:
    docker:
      - image: node:14.19.0
    steps:
      - attach_workspace:
          at: ./docs
      - run:
          name: Install Firebase
          command: npm install -g firebase-tools
      - run:
          name: Deploy website
          command: cd docs && firebase deploy --only hosting:prod --non-interactive

  deploy_preprod:
    docker:
      - image: node:14.19.0
    steps:
      - attach_workspace:
          at: ./docs
      - run:
          name: Install Firebase
          command: npm install -g firebase-tools
      - run:
          name: Deploy website to preprod
          command: cd docs && firebase deploy --only hosting:preprod --non-interactive

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only: main
      - deploy_prod:
          requires:
            - build
          context: "firebase-deployments"
          filters:
            branches:
              only: main
      - build_staging:
          filters:
            branches:
              ignore: main
      - deploy_preprod:
          requires:
            - build_staging
          context: "firebase-deployments"
          filters:
            branches:
              only: development
